.logo{
    margin: 10px auto;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    /*background-color: #004f9b;*/
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    /*background-color: #004f9b;*/
    background-color: #343a40;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    height: 50px;
}

nav li {
    margin-right: 20px;
    position: relative;
    /*background-color: #004f9b;*/
    background-color: #343a40;
}

nav form input[type=submit] {
    display: inherit;
    border: none;
}

nav a, nav p, nav form input[type=submit] {
    /*background-color: #004f9b;*/
    background-color: #343a40;
    text-decoration: none;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
}

/* Stil für größere Bildschirme (Desktop) */
@media (min-width: 768px) {
    .logo {
        width: 50%;
    }

    nav form {
        display: inline;
        padding: 14px 16px;
        margin-top: 12px;
    }

    nav form input[type=submit] {
        padding: 10px 20px;
    }

    nav li:last-child {
        margin-right: 0;
        padding-right: 10px;
    }

    nav li ul {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        /*background-color: #004f9b;*/
        background-color: #343a40;
    }

    nav li:hover ul {
        display: flex;
        flex-direction: column;
    }

    nav li ul li {
        margin-right: 0;
        width: 100%;
    }
}
/* Stil für kleinere Bildschirme (Mobile) */
@media (max-width: 767px) {
    .logo{
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: stretch;
        height: auto;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav li:last-child {
        margin-bottom: 0;
        padding-right: 0;
    }

    nav li ul {
        position: static;
        display: none;
    }

    nav li:hover ul {
        display: block;
    }
}

footer {
    /*background-color: #004f9b;*/
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
    width:100%;
    bottom:0;
    left:0;
}

#headline {
    text-align: center;
    display: block;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    /*background: #d1ecf1;*/
}

.chart-position{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: stretch; /* sorgt für gleiche Höhe */
    gap: 1rem; /* optional für Abstand zwischen den Kacheln */
}

.card-body {
    display: flex; /* macht das Ganze zum Flex-Container */
    flex-direction: column; /* für vertikale Ausrichtung */
    justify-content: center;  /* Vertikal zentrieren */
    align-items: center;      /* Horizontal zentrieren */
    text-align: center;
    border: 1px solid #000;
    flex: 1; /* sorgt für gleiche Breite in Kombination mit flexbox */
    min-height: 200px; /* oder ein anderer fester Mindestwert */
    box-sizing: border-box;
}

.card-text {
    font-size: xxx-large;
}

.charts {
    margin-bottom: 5%;
}

.chart {
    height: 100%;
    width: 100%;
}

#logout {
    display: inline;
}

.a-grid{
    line-height: 11rem;
}

.grid-demo, .container-demo {
    height: 12.5rem;
    font-size: x-large;
}

.tile-grid-sm,
.tile-grid-md,
.tile-grid-alternating-1-4 {
    display: grid;
    grid-gap: 1rem;
    /*width: 100%;*/
    margin-top: 5%;
    margin-bottom: 10%;
}

.application {
    padding: 1rem;
    display: block;
    margin-left: 30px;
    margin-right: 30px;
}

.tile-grid-alternating-1-4 {
    grid-gap: 1rem;
}

.tile-grid-sm {
    grid-template-columns: repeat(auto-fit, minmax(min(22rem,100%),1fr));
}

.tile-grid-md {
    grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
}

nav {
    background-color: #343a40;
    padding: 0.5rem;
}

.menu-toggle {
    display: none;
}

.menu-label {
    display: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-menu li {
    margin: 0.2rem;
}

@media (max-width: 768px) {
    .menu-label {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-toggle:checked + .menu-label + .nav-menu {
        display: flex;
    }

    .nav-menu li {
        width: 100%;
    }
}

/*.btn-dark {*/
/*    background-color: #004f9b;*/
/*    border-color: #004f9b;*/
/*}*/
/*.btn-dark:hover {*/
/*    !*background-color: #002e5d;*!*/
/*    !*border-color: #002e5d;*!*/
/*}*/