<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{css/bootstrap.min.css}">
    <link href="../static/css/jederKilometer.css" rel="stylesheet"
          th:href="@{css/jederKilometer.css}">
</head>
<body>
<header role="banner" th:insert="~{fragments/header}">
</header>

<nav aria-label="Hauptnavigation" role="navigation" th:insert="~{fragments/adminNavigation}">
</nav>

<main role="main">
    <article class="application">
        <h1 id="headline">Jeder Kilometer zählt</h1>
        <h2>Gesamt</h2>
        <div class="row main-skills tile-grid-sm">
            <a class="btn btn-dark card-body grid-demo" th:href="@{/admin/user}">
                Userverwaltung
            </a>
            <a class="btn btn-dark card-body grid-demo" th:href="@{/admin/activity}">
                Aktivitätsverwaltung
            </a>
            <a class="btn btn-dark card-body grid-demo" th:href="@{/admin/sport}">
               Sportartverwaltung
            </a>
            <a class="btn btn-dark card-body grid-demo" th:href="@{/admin/team}">
                Teamverwaltung
            </a>
            <a class="btn btn-dark card-body grid-demo" th:href="@{/admin/event}">
                Eventverwaltung
            </a>
        </div>
    </article>
</main>
<footer class="footer" role="contentinfo">
</footer>
</body>
</html>