<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title th:text="${sport}">Gehen</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}">
    <link href="../static/css/jederKilometer.css" rel="stylesheet"
          th:href="@{/css/jederKilometer.css}">
</head>
<body>
<header role="banner" th:insert="~{fragments/header}">
</header>

<nav aria-label="Hauptnavigation" role="navigation" th:insert="~{fragments/navigation}">
</nav>

<main role="main">
    <article class="application">
        <h1 id="headline" th:text="${sport}">Gehen</h1>
        <h2>Gesamt</h2>
        <div class="row main-skills">
            <section class="col-lg-4 card-body">
                <i class="fas fa-laptop-code"></i>
                <h3 class="card-subtitle">KM</h3>
                <p class="card-text" th:text="${km}">100.00 KM</p>
            </section>
            <section class="col-lg-4 card-body">
                <i class="fab fa-wordpress"></i>
                <h3 class="card-subtitle">Summe</h3>
                <p class="card-text" th:text="${geld}">150.00€</p>
            </section>
            <section class="col-lg-4 card-body">
                <i class="fab fa-wordpress"></i>
                <h3 class="card-subtitle">Top 3</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>KM</th>
                    <tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                    <tr th:each="team:${teams}">
                        <td th:text="${team[0]}">1. Max Mustermann</td>
                        <td th:text="${team[1]}">100.00 KM</td>
                    </tr>
                    <tr>
                        <td>2. Max Mustermann</td>
                        <td>100.00 KM</td>
                    </tr>
                    <tr>
                        <td>3. Max Mustermann</td>
                        <td>100.00 KM</td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </article>
</main>
<footer class="footer" role="contentinfo" th:insert="~{fragments/footer}">
</footer>
</body>
</html>